@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
}
input, button, select, textarea{
    border: none;
    outline: none;
}
p{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
:root{
    --white-color: rgb(255 255 255);
    --green-color: rgb(14 159 110);
    --light-green-color: rgb(18 180 139);
    --green-hover-color : rgb(5 122 85);
    --blue-background-color : rgb(32 64 102);
    --blue-color : rgb(26 54 93 );
    --blue-text-color : rgb(26 86 219 );
    --blue-color-p : rgb(55 65 81);
    --blue-color-p-light : rgb(75 85 99);
    --border-color : rgb(229, 231, 235);
    --black-color: rgb(31 41 55);
}
/* nav-top */
.nav-top-control{
    background-color: rgb(11 36 65 );
}
.nav-top-control a{
    font-size: 16px;
}
.nav-top-control a:hover{
    text-decoration: underline;
}
.nav-top-control p{
    color: #fff;
    font-size: 16px;
}
/* nav-bottom */
.nav-bottom-control{
    padding: 12px 0px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);   
}
.nav-logo-control{
    height: 64px;
}
.nav-btn-control{
    background-color: var(--green-color);
    color: var(--white-color);
}
.nav-btn-control:hover{
    background-color: var(--green-hover-color);
}
.nav-bottom-control ul a{
    font-size: 14px;
    font-weight: 500;
    color: rgb(55 65 81);
}
.nav-bottom-control ul a:hover{
    color: var(--green-color);
}
.nav-btn-control {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding: 1rem 1.5rem;
}
.nav-btn-control:hover {
    color: var(--white-color);
    background-color: var(--green-hover-color);
}
/* section-hero */
.hero-section-control{
    background-color: var(--green-hover-color);
    padding: 48px 0;
    line-height: 40px;
}
.h1-control{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
}
.hero-div-control{
    width: 80px;
    height: 2px;
    background-color: var(--white-color);
    margin: 0 auto;
}
/* section-two */
.section-two-control{
    background-color: var(--blue-background-color);
}
.two-main-control button{
    width: 24%;
    color: var(--blue-text-color);
    background-color: rgb(225 239 254);
    padding: 12px 0;
    border-radius: 12px;
}
.two-main-control button:hover{
    background-color: rgb(195 221 253);
}

/* collapse control */
.collapse-item-control{
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--white-color);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);

}
.collapse-item-control h6{
    font-size: 20px;
    line-height: 28px;
    color: var(--black-color);
    margin-bottom: 16px;
}
.collapse-item-img-div-control{
    background-color: rgb(243 244 246);
    padding: 16px;
    border-radius: 8px;
    width: 49%;
}
.collapse-item-top-p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.collapse-item-green-p{
    font-size: 14px;
    line-height: 20px;
    color: var(--green-color);
    width: 96%;
}
.collapse-item-bottom-p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(75 85 99);
}
.collapse-item-img-div-control img{
    width: 200px;
    margin-top: 8px;
}


/* collapse-sub-start */
.collapse-sub-control{
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    border-radius: 12px;
    background-color: rgb(249 250 251);
}
.collapse-sub-control h6{
    font-size: 20px;
    line-height: 28px;
    color: var(--blue-text-color);
    margin-bottom: 8px;
    font-weight: bold;
}
.sub-1-green-text {
    color: rgb(14 159 110);
    width: 98%;
}
.sub-1-text{
    color: rgb(55 65 81);
}
.collapse-sub-control img{
    width: 100px;
}
.collapse-sub-btn{
    padding: 8px 20px;
    background-color: rgb(28 100 242);
    border-radius: 6px;
    color: var(--white-color);
}
.collapse-sub-btn:hover{
    background-color: rgb(26 86 219);
}




/* section-three */
.three-main-control{
    padding: 0 32px;
}
.three-h4-control{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
    color: var(--blue-text-color);
}
.three-btn-controller{
    margin-bottom: 40px;
    gap: 24px;
}
.three-main-btn{
    width: 32%;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 12px;
    transition-duration: .2s;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
.three-main-btn:hover{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
.three-btn-h-control{
    line-height: 32px;
}
.three-top-p-control{
    font-size: 20px !important;
    line-height: 28px !important;
    margin-bottom: 8px !important;
}
.three-btn-controller p{
    color: rgb(55 65 81);
    margin-bottom: 4px;
    font-size: 14px;
}













































/* footer */
.footer-top-control{
    width: 100%;
    padding: 40px 0;
    background-color: rgb(11 31 58);
}
.footer-left-control {
    width: 25.4%;
    padding: 16px;
    background-color: var(--white-color);
}
.footer-left-control img{
    width: 160px;
    margin-bottom: 16px;
}
.footer-left-control p {
    color: rgb(122 122 122);
    margin-bottom: 16px;
    font-size: 14px;
}
.footer-social-icon-control{
    gap: 8px;
}
.footer-social-icon{
    width: 30px;
    height: 30px;
    background-color: rgb(32 64 102);
    color: var(--white-color);
    border-radius: 4px;
}
.footer-social-icon:hover{
    background-color: rgb(30 76 143);
}
.footer-social-icon i{
    font-size: 14px;
}
footer ul li a{
    color: rgb(209 213 219);
    font-size: 14px;
}
footer ul {
    padding: 0 !important;
    width: 20%;
    margin: 0;
}
.footer-ul-one-control a:hover{
    color: var(--green-hover-color);
}
.footer-bottom-ul-h-control{
    color: var(--white-color);
    font-size: 14px;
    margin-bottom: 8px;
}
.footer-bottom-control{
    background-color: rgb(30 58 95);
    padding: 16px;
    color: rgb(209 213 219);
    font-size: 12px;
}
.footer-bottom-left-a{
    color: rgb(22 189 202);
}
.footer-bottom-right-a{
    color: rgb(249 128 128);
}
/* right-absolut */
.right-absolute-control{
    background-color: rgb(6 148 162 );
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 32px;
    right: 16px;
    z-index: 999;
}
.right-absolute-control:hover{
    background-color: rgb(4 116 129);
}
.right-absolute-control a{
    color: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}